
body {
    outline: 0;
    outline: none;
    margin: 0px;
    color: black;
    font-family: Arial;
  }
  
  button {
    outline: 0;
  }
  textarea {
    resize: none;
  }
  textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    resize: none; /*remove the resize handle on the bottom right*/
}
input {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  resize: none; /*remove the resize handle on the bottom right*/
}
  p{
    outline: 0;
    outline: none;
    margin: 0px;
  }
  div:focus {
    outline: none;
  }
  div:active {
    outline: none;
  }
  
  p:focus {
    outline: 0;
  }
  
  img:focus {
    outline: 0;
  }
  
  i:focus {
    outline: 0;
  }
  input:focus {
    outline: none;
  }
  input:active {
    outline: none;
  }
  
  a {
    font-size: 13px;
    line-height: 16px;
    /* identical to box height, or 123% */
    letter-spacing: 0.2px;
    
    color: #4986CC;
    text-decoration: none;
  }
  
  input,
  textarea,
  button,
  select,
  p,
  img,
  div,
  a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
.qrcodes_container{
    padding-bottom: 24px;
}
.qr_button{
    margin: 0 16px;
}
.vkuiAppRoot{
    overflow-x: hidden;
}
.qr_count{
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    letter-spacing: 0.1px;

    color: #000000;
    margin: 24px 16px 4px 16px;
}
.history_item{
    display: flex;
    margin: 8px 16px 0px 16px;
}
.history_item_title{
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    letter-spacing: 0.1px;

    /* Light Text / Primary */
    color: #000000;
    margin-bottom: 3px;
    margin-top: 8px;
}
.history_item_text{
    font-size: 13px;
    line-height: 16px;
    /* identical to box height, or 123% */
    letter-spacing: 0.2px;

    /* Light Text / Secondary */
    color: #818C99;
}
.history_max_w{
    max-width: calc(100vw - 92px);
}
.empty_qr_cods{
    position: relative;
    margin-top: 56px;
}
.empty_qr_cods_icon{
    margin-bottom: 16px;
    width: 56px;
    height: 56px;
}
.center_horizontal{
    margin: 0;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.empty_qr_cods_text{
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    text-align: center;
    letter-spacing: 0.2px;

    /* Light Text / Subhead */
    color: #6D7885;
    padding: 0 40px;
}
